*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/* Header part Start  */
#header_container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
}
.container{
    padding: 25px 0;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    top: 15px;
     */
}
.header_logo{
    /* padding: 41px 133px; */
    width: 133px;
    height: 41px;
    margin-left: 5px;
}
.header_menu ul li {
    display: inline-block;
    padding: 0px 15px;

}
.header_menu ul li a{
    color: white;
    text-transform: uppercase;
    line-height: 60px;
    font-family: "Source Sans 3", serif;
}
.header_menu ul li a:hover{
    color: #f2723f;
    text-transform: uppercase;
    line-height: 60px;
    font-family: "Source Sans 3", serif;
    transition: .5s;
}

.button_searchIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 5px;
}
/* .btn_div{
    
} */
.header_btn{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background: #e4b855;
    text-transform: uppercase;
    font-family: "Source Sans 3", serif;
    color: white;
}
.header_btn:hover{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background: #f2723f;
    text-transform: uppercase;
    font-family: "Source Sans 3", serif;
    transition: .5s;
    box-shadow:inset;
    color:white;
}
.search_icons .fa-solid{
    padding: 10px 10px;
    /* height: 20px;
    width: 20px; */
    font-size: x-large;
    color: #e4b855;
    display: flex;
    justify-content: center;
    align-items: end;
}
.search_icons .fa-solid:hover{
    padding: 10px 10px;
    /* height: 20px;
    width: 20px; */
    font-size: x-large;
    color: #f2723f;
    display: flex;
    justify-content: center;
    align-items: end;
    transition: .5s;
}
/* Header part End  */

/* Banner part start  */
.banner_bg{
    background: url(../images/slider-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}
.banner_overlay{
    padding: 210px 0;
    background: rgba(0, 0, 0, 0.50);
    text-align: center;  
}
.banner_overlay h1{
    color: white;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 54px;
}
.banner_overlay p{
    color: white;
    font-family: "Source Sans 3", serif;
    font-size: 14px;
    padding: 25px;
}
.banner_button{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background: #e4b855;
    text-transform: uppercase;
    font-family: "Source Sans 3", serif;
    color: #ffff;
}
.banner_button:hover{
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background: #f2723f;
    text-transform: uppercase;
    font-family: "Source Sans 3", serif;
    transition: .5s;
    color: #ffff;
}
/* Banner part End  */

/* Blog Section Start  */
.blog_container{
    /* padding: 20px 0; */
    display: flex;
    justify-content: space-between;
}
.image_div{
    width: 50%;
}
.blog_image{
    width: 100%;
}
.text_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_div div h1{
    font-size: 35px;
    /* padding-top: -20px; */
    padding-bottom: 30px;
    font-family: "Playfair Display", serif;
}
/* Blog Section End  */

/* Card Section Start   */
.card_bg{
    
    background: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card_overlay{
    padding: 150px 0;
    background: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
}
.caard_text h1{
    font-size: 30px;
    font-family: "Playfair Display", serif;
    text-align: center;
    color: white;
    padding: 30px 0;
}
.caard_text p{
    font-size: 14px;
    font-family: "Source Sans 3", serif;
    text-align: center;
    color: white;
    padding-bottom: 20px; 
}
.caard_div{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.card_area{
    padding: 60px 60px;
    background: white;
    margin: 50px 40px;
    border-radius: 5px;
}
.card_area:hover{
    padding: 60px 60px;
    background:#e4b855;
    margin: 50px 40px;
    border-radius: 5px;
    transition: .10s;
}
.fa-solid{
    font-size: 50px;
    color: black;  
}
.card_area i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_area h3{
    padding-top: 10px;
    text-transform: uppercase;
}
/* Card Section End   */
/* Partition div part start */
.partition_text{
    padding-top: 100px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.partition_text p{
    font-family: "Source Sans 3", serif;
    font-size: 20px;
    padding: 0px 445px;
    /* font-size: 29px; */
}
.partition_div{
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstPartition_fiv{
    background: url(../images/sermons-01.jpg);
    width: 49.5%;
    height: 500px;
    position: relative;
}
.firstPartition_overlay{
    width: 100%;
    height: 260px;
    background:rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.firstPartition_overlay h2{
    padding-top: 40px;
    
    padding-left: 20px ;
    font-family: "Playfair Display", serif;
    color: white;
    
}
.johan{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.san{
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 22px;
}
.johan p{
    color: white;
    padding:20px 20px ;
}
.johan .speak{
    font-size: 16px;
    font-style: italic;
    font-family: "Source Sans 3", serif;
}
.johan .jon{
    font-size: 18px;
    font-style: italic;
    font-family: "Source Sans 3", serif;
    color: #e4b855;
    padding-right: 20px;
}
.johan .date{
    font-size: 16px;
    font-style: italic;
    font-family: "Source Sans 3", serif;
}
.partition_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 10px; */
}
.partition_icons .fa-solid{
    font-size: 30px;
    color: white;
    width: 50%;
    padding: 0px 25px;
    /* line-height: 22px;  */
}
.firstPartition_overlay p{
    font-family: "Source Sans 3", serif;
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.60); 
}
.firstPartition_overlay a{
    color: #e4b855;
    font-size: 16px;
    font-family: "Source Sans 3", serif;
    padding: 15px 20px;
    font-style: italic;
}
.secondPatition_div{
    background: url(../images/sermons-02.jpg);
    width: 49.5%;
    height: 500px;
    position: relative;
}


/* Partition div part end */